html{
    font-family:'Lucida Sans';
}
body {
    background-color: #39ac4d;
}
#s1{
    text-align: center;
}
#s1 header {
    text-align: center;
    padding: 20px;
    background-color: #0d3a1e;
}

#s1 header h1 {
    color: white;
    margin-bottom: 25px;
}

#s1 nav ul {
    list-style: none;
    padding: 0;
}

#s1 nav ul li {
    display: inline-block;
    margin: 0 10px;
}

#s1 nav ul li a {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    border-radius: 8px;
    transition: box-shadow 0.3s, background-color 0.3s;
}

#s1 nav ul li a:hover {
    background-color: #3e8154;
    box-shadow: 0 0 10px #6edb9b;
}
#s2 {
    padding: 50px;
}

#s2 h2 {
    border-radius: 8px;
    text-align: center;
    padding: 20px;
    color: white;
    background-color: #0d3a1e;
}

.curiosidades {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.carta {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

.carta:hover {
    transform: scale(1.03);
}

.carta img {
    width: 100%;
    border-radius: 10px;
}
.borda{
    border-radius: 8px;
    text-align: center;
    padding: 20px;
    color: rgb(10, 10, 10);
    background-color: #ffffff;
}
#s3 h2 {
    border-radius: 8px;
    text-align: center;
    padding: 20px;
    color: white;
    background-color: #0d3a1e;
}

#s3 .t1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin-left: 120px;
    font-size: 18px;
}   

#s3 img {
    margin-left: 100px;
    width: 300px;
    border-radius: 10px;
}
.borda2{
    border-radius: 8px;
    text-align: center;
    padding: 20px;
    color: rgb(10, 10, 10);
    background-color: #ffffff;
}
#s4 h2 {
    border-radius: 8px;
    text-align: center;
    padding: 20px;
    color: white;
    background-color: #0d3a1e;
}

#s4 .t2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin-left: 120px;
    font-size: 18px;
}   

#s4 img {
    margin-left: 100px;
    width: 300px;
    border-radius: 10px;
}
#s5 h2 {
    border-radius: 8px;
    text-align: center;
    padding: 20px;
    color: white;
    background-color: #0d3a1e;
}

#s5 .t2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin-left: 120px;
    font-size: 18px;
}   

#s5 img {
    margin-left: 100px;
    width: 300px;
    border-radius: 10px;
}
.borda3{
    border-radius: 8px;
    text-align: center;
    padding: 20px;
    color: rgb(10, 10, 10);
    background-color: #ffffff;
}
#s5 h2 {
    border-radius: 8px;
    text-align: center;
    padding: 20px;
    color: white;
    background-color: #0d3a1e;
}

#s5 .t2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin-left: 120px;
    font-size: 18px;
}   

#s5 img {
    margin-left: 100px;
    width: 300px;
    border-radius: 10px;
}
footer {
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    background-color: #0d3a1e;
    color: white;
}