body {
    font-family: Arial, sans-serif;
    background-color: #048029;
}

#pedido {
    width: 350px;
    margin: 120px auto;
    padding: 30px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#pedido h2 {
    text-align: center;
}

#pedido  {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

#pedido button {
    padding: 10px;
    background-color: #ff9800;
    border: none;
    border-radius: 8px;
    color: white;
    transition: 0.3s;
}

#pedido button:hover {
    background-color: #e68900;
}

#voltar {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 8px 15px;
    background-color: #1e1e1e;
    color: white;
    border: none;
    border-radius: 8px;
}

#voltar:hover {
    background-color: #333;
}
p {
    margin-bottom: -20px;
}
footer {
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    background-color: #0d3a1e;
    color: white;
}footer {
    text-align: center;
    padding: 1px;
    border-radius: 20px;
    background-color: #0d3a1e;
    color: white;
}
